@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lalezar&display=swap');

body {

    background: linear-gradient(0deg, rgba(45, 37, 90, 0.2), rgba(45, 37, 90, 0.2)), #252525;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    transition: margin 550ms ease-in-out;
}

.screen {
    display: flexbox;
    border: 7px solid #4B0082;
    width: 20rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    height: 15rem;
    margin-top: 2rem;
}

.screen img {
    width: 20rem;
    height: 13.5rem;
}

.screen p {
    font-family: 'Lalezar', cursive;
    padding-bottom: 0.4rem;
    text-align: center;
    color: #fff;
    max-height: 1.5rem;
    margin-top: -0.4rem;
    font-size: 15pt;
    overflow: hidden;
    height: 1.3rem;
    width: 20rem;
    background: #4B0082;
}


button {
    cursor: pointer;
}

.musicSpeed {
    text-indent: 22rem;
    color: #fff;
    cursor: pointer;
}

input[type="range"] {
    display: block;
    outline: none;
    appearance: none;
    background-color: #1E1E1E;
    width: 25rem;
    height: 1.1rem;
    border-radius: 1rem;

    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: #fff;
    border-radius: 5rem;
    height: 1.1rem;
    width: 1.1rem;
    margin-left: 0.2rem;
    box-shadow: -410px 0 0 400px #4B0082;
    cursor: pointer;
    transition: all 3s ease-in-out;

}

.containerTime {
    display: flex;
    font-size: 15pt;
    color: #fff;
    width: 25rem;

}

.containerTime span:nth-child(even) {
    text-indent: 19rem;

}

.containerButtons button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 250ms ease-out;
    height: 6rem;
    width: 6rem;
    background-color: transparent;
    background-color: transparent;
}

.previus {
    border: none;
    background-image: url('src/imgs/previus.png');
    background-size: cover;
}

.play {
    border: 5px solid #6c33c9;
    border-radius: 100%;
    background-image: url('src/imgs/play0.png');
    background-size: cover;
    background-position: 0rem;
}

.play:hover {
    border: 5px solid #863ff8;
}

.pause {
    background-image: url('src/imgs/pause.png');
    background-size: cover;
}

.imgLoad {
    display: block;
    background-image: url('src/imgs/loadPng.png');
    height: 20px;
    width: 20px;
    background-size: cover;
    right: -20rem;
    position: relative;
    animation: rotate 250ms ease-in infinite;
}

@keyframes rotate {
    25% {
        rotate: 150deg;
    }
}

.next {

    border: none;
    background-image: url('src/imgs/next.png');
    background-size: cover;
}

.containerListSongs {
    overflow: hidden;
    display: block;

}

.card {

    cursor: pointer;
    display: flex;
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
    width: 25.5rem;
    color: #fff;
    height: 4rem;
    background-color: #1E1E1E;
    /* box-shadow: 0px 2px 4px #af15fd; */

}

.delete {
margin-top: 1rem;
    height: 2.2rem;
    background-color: #4B0082;
    border: NONE;
    color: #fff;

}


.card p {
text-indent: 5pt;
text-align: left;
    margin-bottom: 1.5rem;
    background-color: #863FF8;
    width: 19rem;
    margin-left: 0.5rem;
height: 2.2rem;
   



}



.cardImg {

    width: 4rem;
    height: 4rem;

}

nav {
    font-family: 'Lalezar', cursive;
    text-align: left;
    padding: 2rem;
    font-size: 12pt;
}

details summary {
    text-indent: 1rem;
    font-size: 18pt;
    color: #fff;
    border-radius: 0.2rem;
    background-color: #4B0082;
    width: 25.5rem;
    height: 2.5rem;
    transition: margin 250ms ease-in-out;

}

details[open] summary {

    margin-bottom: 10px;
}

details[close] summary {
    transition: all 550ms ease-out;
    margin-bottom: 10px;
}

input[type="file"] {
    border-radius: 0.2rem;
    width: 9.5rem;
    margin-left: 6.5rem;
    margin-top: 0.2rem;

}

#filesSongs::-webkit-file-upload-button {
    font-family: 'Lalezar', cursive;
    cursor: pointer;
    background-color: #863ff8;
    border: none;
    font-size: 15pt;
    color: #fff;
    transition: background 250ms linear;
}

#filesSongs::-webkit-file-upload-button:hover {
    background-color: #a81fc0;
    color: #dbd6d6;

}

/* RESPONSIVIDADE PARA DISPOSITIVOS MOVEIS */
@media screen and (max-width: 650px) {

    .card p {
  
        font-size: 9.5pt;
        width: 12rem;
        height: 2.1rem;
    }

    .cardImg {
        height: 4rem;
        width: 4rem;
    }

    details summary {
        width: 20rem;
        font-size: 15pt;

    }

    .musicSpeed {
        text-indent: 17rem;
    }

    .screen {
        width: 19rem;
        border: 5px solid #4B0082;

    }

    .delete {
        height: 2.1rem;
 
margin-top: 0.8rem;
    }

    .containerListSongs {
        width: 20rem;
    }

    .screen img {
        width: 19rem;
    }

    .screen p {
        padding-top: 0.2rem;
        letter-spacing: 0.1rem;
        width: 19rem;
        text-align: center;
        font-size: 10pt;
    }

    input[type="range"] {
        width: 20rem;

    }

    .containerTime {
        width: 20rem;
    }

    .containerTime span:nth-child(even) {
        text-indent: 13.5rem;

    }

    .imgLoad {
        right: -15rem;
    }

    input[type="file"] {
        border-radius: 0.2rem;
        margin-top: 0.4rem;
        margin-left: 2rem;
    }

    #filesSongs::-webkit-file-upload-button {
        font-size: 12pt;
        width: 10rem;

    }
}