body {
    background: #301A53;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.screen {

    width: 22rem;
    height: 15rem;
    box-shadow: 0px 2px 7px #2f0965;
    margin-top: 2rem;
}

.screen img {
    width: 22rem;
    height: 13.7rem;
}

.screen p {

    padding-bottom: 0.4rem;
    text-align: center;
    color: #fff;
    max-height: 1.5rem;
    margin-top: -0.4rem;
    font-size: 15pt;

    overflow: hidden;
    height: 1.5rem;
    width: 22rem;
    background: #6c33c9;
}


button {
    cursor: pointer;
}

.musicSpeed{
    text-indent: 22rem;
    color: #fff;
    cursor: pointer;
}

input[type="range"] {
    display: block;
    outline: none;
    appearance: none;
    background-color: #252525;
    border: 2px solid #6c33c9;
    width: 25rem;
    height: 1rem;
    border-radius: 5rem;

    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;

    background-color: #fff;
    border-radius: 5rem;
    height: 1rem;
    width: 1rem;

    box-shadow: -407px 0 0 400px indigo;
    cursor: pointer;
    transition: all 3s ease-in-out;

}

input[type="range"]::-webkit-slider-runnable-track {}


.containerTime {
    display: flex;
    font-size: 15pt;
    color: #fff;
    width: 25rem;

}

.containerTime span:nth-child(even) {
    text-indent: 19.5rem;

}

.containerButtons button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 250ms ease-out;
    height: 4rem;
    width: 4rem;
  
    background-color: transparent;
    background-color: transparent;
}


.previus {
    filter: drop-shadow(0px 0px 1px #863ff8);
    border: none;
    background-image: url('src/imgs/previus.png');
    background-size: cover;
}

.play {
    border: 5px double #6c33c9;

    border-radius: 100%;
    background-image: url('src/imgs/play0.png');
    background-size: cover;
    background-position: 0rem;
}

.play:hover {
    border: 5px solid #863ff8;
}

.pause {
    background-image: url('src/imgs/pause.png');
    background-size: cover;
}

.imgLoad {
    display: block;
    background-image: url('src/imgs/loadPng.png');
    height: 20px;
    width: 20px;
    background-size: cover;
    right: -15rem;
    position: relative;
    animation: rotate 250ms ease-in infinite;
}

@keyframes rotate {
    25% {
        rotate: 150deg;
    }
}

.next {
    filter: drop-shadow(0px 0px 1px #863ff8);
    border: none;
    background-image: url('src/imgs/next.png');
    background-size: cover;
}

.containerListSongs {
    overflow: hidden;
    background-color: #6c33c9;

}

.card {
    display: flex;
    text-indent: 22px;
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
    width: 25.5rem;
    color: #fff;
    height: 5rem;
    background-color: #252525;
    box-shadow: 0px 2px 4px #af15fd;

}

.cardImg {

    width: 5rem;
    height: 5rem;

}

nav {
    text-align: center;
}

details summary {
    color: #fff;
    background-color: #6c33c9;
    width: 25.5rem;
    transition: margin 250ms ease-in-out;

}

details[open] summary {

    margin-bottom: 10px;
}

input[type="file"] {
    width: 7rem;
    content: counter("dsad");
}

#filesSongs::-webkit-file-upload-button {
    cursor: pointer;

    background-color: indigo;
    border: none;
    color: #fff;

    transition: background 250ms linear;
}

#filesSongs::-webkit-file-upload-button:hover {
    background-color: #a81fc0;
    color: #dbd6d6;

}

@media screen and (max-width: 750px) {


    .card p {
        font-size: 10pt;
    }

    .card {}

    .cardImg {
        height: 5rem;
        width: 5rem;
    }

    details summary {
        width: 20rem;

    }

    .musicSpeed{
        text-indent: 17rem;
    }

    .screen {
        width: 19rem;


    }

    .containerListSongs {
        width: 20rem;
    }

    .screen img {
        width: 19rem;
    }

    .screen p {
        width: 19rem;
        text-align: center;
        font-size: 10pt;
    }

    input[type="range"] {
        width: 20rem;
    }

    .containerTime {
        width: 20rem;
    }

    .containerTime span:nth-child(even) {
        text-indent: 14.2rem;

    }


}